<div class="create-user" style="border-radius: 1px;">
    <h3>Edit</h3>
    <div class="device-form-container">
        <form class="create-device" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill"> 
            <mat-label>ID</mat-label>
            <input matInput [disabled]="true" [(ngModel)]="data.id" name="id" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="data.description" name="description" >
        </mat-form-field>
            <button mat-raised-button class="button" color="primary" type="submit">Submit</button>
        </form>
    </div>
  </div>
