* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

:root {
    --primary-color-1: #ffffff; /* Default colors */
    --primary-color-2: #ffffff;
    --primary-color-3: #ffffff;
}

.create-user {
    text-align: left;
    font-size: 15px;
    padding: 1rem;
    background-color: var(--primary-color-1); /* Primary color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px var(--primary-color-1)(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

h3 {
    color: var(--primary-color-3);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.device-form-container {
    background: var(--primary-color-3); /* White background for contrast */
    border-radius: 8px;
    padding: 2rem; 
    box-shadow: 0 2px 5px var(--primary-color-1)(0, 0, 0, 0.1); /* Light shadow for depth */
    

}

.create-device {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
}

.create-device .mat-form-field {
    margin-bottom: 16px; /* Space between input fields */
    width: 100%; /* Ensure full width */
}

.create-device .mat-form-field .mat-form-field-flex {
    background-color: var(--primary-color-3); /* Light background for input fields */
    border: 1px solid var(--primary-color-3); /* Border color */
    border-radius: 4px; /* Rounded edges for input fields */
}

.create-device .mat-form-field:hover .mat-form-field-flex {
    border-color: var(--primary-color-2); /* Border color on hover */
}

.create-device .mat-form-field .mat-form-field-label {
    color: var(--primary-color-2); /* Placeholder color */
}

.create-device .mat-form-field .mat-input-element {
    padding: 0px; /* Ensure enough padding for input text */
    
}

.button {
    display: block; /* Ensure it's block-level */
    width: 100%; /* Full width button */
    height: 40px;
    font-size: 1rem;
    background-color: var(--primary-color-2); /* Updated to a contrasting primary color */
    color: var(--primary-color-3); /* Text color */
    margin-top: 16px; /* Optional: Add space above the button */
    border: none; /* No border for a clean look */
    border-radius: 4px; /* Rounded button corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */

    &:hover {
        background-color: var(--primary-color-2); /* Darker shade on hover */
    }
}
.mat-icon{
    color: var(--primary-color-2);
    cursor: pointer; 
    float: right; 
}


