.main-div mat-card{
    padding: 0px;
    background: #1e293b;
}
.login-form{
    padding:20px;
}
.mat-toolbar{
    color: #1e293b;
    background: #f1f5f9;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;

}

