
:root {
    --primary-color-1: #ffffff; /* Default colors */
    --primary-color-2: #ffffff;
    --primary-color-3: #ffffff;
}
.main-div mat-card{
    padding: 0px;
    background: var(--primary-color-3);
}
.login-form{
    padding:20px;
}
.mat-toolbar{
    color: var(--primary-color-3);
    background: var(--primary-color-1);
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;

}


