<div class="create-user" style="border-radius: 1px;">
  <h3>Edit Device</h3>
  <div class="device-form-container">
      <form class="create-device" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
              <mat-label>Device</mat-label>
              <input matInput [(ngModel)]="data.devicename" name="devicename" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>IP</mat-label>
              <input matInput [(ngModel)]="data.ipaddress" name="ipaddress" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Designated Address</mat-label>
              <input matInput [(ngModel)]="data.designatedaddress" name="designatedaddress" required>
          </mat-form-field>
          <button mat-raised-button color="primary" class="button" type="submit">Submit</button>
      </form>
  </div>
</div>





