:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
:root {
    --primary-color-1: #ffffff; /* Default colors */
    --primary-color-2: #ffffff;
    --primary-color-3: #ffffff;
}
mat-drawer{
    width: 240px;
    background: var(--primary-color-1);
}

mat-drawer-container{
    height: 100%;
}