<!--<h2 mat-dialog-title>Set New Password</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input matInput [(ngModel)]="newPassword" type="password" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input matInput [(ngModel)]="confirmPassword" type="password" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSetPassword()">Set Password</button>
</mat-dialog-actions>-->


<div class="create-user" style="border-radius: 1px;">
    <h3>Set New Password</h3>
    <div class="device-form-container">
      <form class="create-device" (ngSubmit)="onSetPassword()">
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput [(ngModel)]="newPassword" name="newPassword" type="password" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required>
        </mat-form-field>
        <button mat-raised-button class="button" color="primary" type="submit">Submit</button>
      </form>
    </div>   
  </div>
