<div class="create-user">
  <h3>Edit Asset</h3>
  <div class="device-form-container">
      <form class="create-device" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
              <mat-label>Serial Number</mat-label>
              <input matInput [(ngModel)]="data.rfidserialnr" name="rfidserialnr" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Asset Type</mat-label>
              <input matInput [(ngModel)]="data.itemtypename" name="itemtypename" required>
          </mat-form-field>
          <button mat-raised-button class="button" color="primary" type="submit">Submit</button>
      </form>
  </div>
</div>
