<div class="create-user" style="border-radius: 1px;">
    <h3>Edit Role</h3>
    <div class="device-form-container">
        <form class="create-device" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill"> 
            <mat-label>First Name</mat-label>
            <input matInput [disabled]="true" [(ngModel)]="data.firstname" name="firstname" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput [disabled]="true" [(ngModel)]="data.lastname" name="lastname" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="data.idroles" name="idroles" required>
              <mat-option *ngFor="let role of userRoles" [value]="role.id">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <button mat-raised-button class="button" color="primary" type="submit">Submit</button>
        </form>
    </div>
  </div>


