<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/company.JPG" alt="Company Logo"/>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu options</h2>

    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/asset" routerLinkActive="list-item-active">
        <mat-icon>qr_code</mat-icon>Asset Management
    </a>
    <a mat-list-item routerLink="/device" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Device Management
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>assessment</mat-icon>Reports
    </a>
    <a mat-list-item routerLink="/user" routerLinkActive="list-item-active">
        <mat-icon>supervisor_account</mat-icon>User Management
    </a>
    <a mat-list-item routerLink="/role" routerLinkActive="list-item-active">
        <mat-icon>lock</mat-icon>Roles & Permissions
    </a>
</mat-nav-list>
