<mat-nav-list>
    <!--<div class="logo py-4">
        <img src="../../assets/company.JPG" alt="Company Logo"/>
    </div>-->
    <div class="logo py-4">
        <img [src]="logoUrl" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Menu options</h2>

    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/asset" routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>Asset Management
    </a>
    <a mat-list-item routerLink="/device" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Device Management
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>assessment</mat-icon>Reports
    </a>
    <a mat-list-item *ngIf="shouldShowUserManagement()" routerLink="/user" routerLinkActive="list-item-active">
        <mat-icon>supervisor_account</mat-icon>User Management
    </a>
    <a mat-list-item *ngIf="shouldShowUserManagement()" routerLink="/role" routerLinkActive="list-item-active">
        <mat-icon>lock</mat-icon>Roles & Permissions
    </a>
    <a mat-list-item *ngIf="shouldShowUserManagement()" routerLink="/sysconfig" routerLinkActive="list-item-active">
        <mat-icon>build</mat-icon>System Configuration
    </a>
    <a mat-list-item *ngIf="shouldShowUserManagement()" routerLink="/brand" routerLinkActive="list-item-active">
        <mat-icon>local_offer</mat-icon>Customize Branding
    </a>

    <a mat-list-item routerLink="/mynotifications" routerLinkActive="list-item-active">
        <mat-icon>message</mat-icon>My Notifications
    </a>
    <a mat-list-item *ngIf="shouldShowUserManagement()" routerLink="/notifications" routerLinkActive="list-item-active">
        <mat-icon>notifications</mat-icon>Notification Settings
    </a>
</mat-nav-list>
