<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content __data position-absolute text-center">
      <div>
        <!-- Filters -->
        <div class="filter-container">
          <div class="clear-filters-container">
            <button mat-button class="clear-filters-button" (click)="clearFilters()">Clear All Filters</button>
        </div>
        <!-- Notification and Robot Icons -->
        <div class="icons-container">

          <button mat-icon-button class="icon-button" (click)="onNotificationClick()">
            <mat-icon>notifications</mat-icon>
          </button>

          <button mat-icon-button class="icon-button" (click)="onRobotClick()" 
          [ngClass]="{'green': isDeviceConnected, 'red': !isDeviceConnected}"><mat-icon>lens</mat-icon>
          </button>
        </div>
          <div class="search-field-container">
            <button mat-icon-button (click)="isInputVisible = !isInputVisible" aria-label="Search" mattooltip="Search">
              <mat-icon>search</mat-icon>
            </button>
            <mat-form-field appearance="fill" *ngIf="isInputVisible">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applySearch($event)" placeholder="Search" />
            </mat-form-field>
          </div>
        </div>
        
        <table mat-table [dataSource]="filteredTransactions" class="mat-elevation-z8">
          <ng-container matColumnDef="idassettransactions">
            <th mat-header-cell *matHeaderCellDef> Transaction ID </th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.idassettransactions }}</td>
          </ng-container>

          <ng-container matColumnDef="transactiondatetime">
            <th mat-header-cell *matHeaderCellDef> DateTime 
              <button mat-icon-button [matMenuTriggerFor]="dateDropdown">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #dateDropdown="matMenu">
                <div class="date-filter-menu">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Start Date" [(ngModel)]="startDate" (dateChange)="applyNewFilters()">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="endDate" (dateChange)="applyNewFilters()">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.transactiondatetime }}</td>
          </ng-container>

          <ng-container matColumnDef="itemtypename">
            <th mat-header-cell *matHeaderCellDef> Type 
              <button mat-icon-button [matMenuTriggerFor]="itemTypeDropdown">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #itemTypeDropdown="matMenu">
                <button mat-menu-item *ngFor="let type of uniqueItemTypes">
                  <mat-checkbox [(ngModel)]="filters.itemType[type]" (change)="applyNewFilters()">{{ type }}</mat-checkbox>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.itemtypename }}</td>
          </ng-container>

          <ng-container matColumnDef="categoryname">
            <th mat-header-cell *matHeaderCellDef> Category 
              <button mat-icon-button [matMenuTriggerFor]="categoryDropdown">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #categoryDropdown="matMenu">
                <button mat-menu-item *ngFor="let category of uniqueCategories">
                  <mat-checkbox [(ngModel)]="filters.category[category]" (change)="applyNewFilters()">{{ category }}</mat-checkbox>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.categoryname }}</td>
          </ng-container>

          <ng-container matColumnDef="locationname">
            <th mat-header-cell *matHeaderCellDef> New Location 
              <button mat-icon-button [matMenuTriggerFor]="locationDropdown">
                <mat-icon>filter_list</mat-icon>
              </button>
              <mat-menu #locationDropdown="matMenu">
                <button mat-menu-item *ngFor="let location of uniqueLocations">
                  <mat-checkbox [(ngModel)]="filters.location[location]" (change)="applyNewFilters()">{{ location }}</mat-checkbox>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.locationname }}</td>
          </ng-container>
          <ng-container matColumnDef="actions" >
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let transaction" >
              <button mat-button class="link-button" (click)="quickView(transaction)">
                Quick View
              </button>
              <button mat-button class="link-button" (click)="fullReport(transaction)">
                Full Report
              </button>
            </td>
          </ng-container>

         <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let transaction">
              <button mat-button class="link-button" (click)="quickView(transaction)">
                {{ transaction.isExpanded ? 'Hide view' : 'Quick View' }}
              </button>
              <button mat-button class="link-button" (click)="fullReport(transaction)">
                {{ transaction.isExpanded2 ? 'Hide report' : 'Full report' }}
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <th mat-header-cell *matHeaderCellDef> Historical Transactions </th>
            <td mat-cell *matCellDef="let transaction" colspan="5">
              <div class="expansion-detail" *ngIf="transaction.isExpanded">
                <table mat-table [dataSource]="transaction.subTransactions" class="mat-elevation-z8">
                  <ng-container matColumnDef="transactiondatetime">
                    <th mat-header-cell *matHeaderCellDef> DateTime </th>
                    <td mat-cell *matCellDef="let subTransaction">{{ subTransaction.transactiondatetime }}</td>
                  </ng-container>
                  <ng-container matColumnDef="fromlocation">
                    <th mat-header-cell *matHeaderCellDef> From Location </th>
                    <td mat-cell *matCellDef="let subTransaction">{{ subTransaction.fromlocation }}</td>
                  </ng-container>
                  <ng-container matColumnDef="newlocation">
                    <th mat-header-cell *matHeaderCellDef> New Location </th>
                    <td mat-cell *matCellDef="let subTransaction">{{ subTransaction.newlocation }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['transactiondatetime', 'fromlocation', 'newlocation']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['transactiondatetime', 'fromlocation', 'newlocation'];"></tr>
                </table>
                <div style="text-align: right; margin-top: 10px;">
                  <button mat-button class="link-button" (click)="fullReport(transaction)">
                    {{ transaction.isExpanded2 ? 'Hide report' : 'Full report' }}
                  </button>
                </div>
              </div>
              <div class="expansion-detail" *ngIf="transaction.isExpanded2">
                <table mat-table [dataSource]="transaction.subTransactions" class="mat-elevation-z8">
                  <ng-container matColumnDef="transactiondatetime">
                    <th mat-header-cell *matHeaderCellDef> DateTime </th>
                    <td mat-cell *matCellDef="let subTransaction">{{ subTransaction.transactiondatetime }}</td>
                  </ng-container>
                  <ng-container matColumnDef="fromlocation">
                    <th mat-header-cell *matHeaderCellDef> From Location </th>
                    <td mat-cell *matCellDef="let subTransaction">{{ subTransaction.fromlocation }}</td>
                  </ng-container>
                  <ng-container matColumnDef="newlocation">
                    <th mat-header-cell *matHeaderCellDef> New Location </th>
                    <td mat-cell *matCellDef="let subTransaction">{{ subTransaction.newlocation }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['transactiondatetime', 'fromlocation', 'newlocation']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['transactiondatetime', 'fromlocation', 'newlocation'];"></tr>
                </table>
              </div>
            </td>
          </ng-container>-->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Pagination -->
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
